#home{
    margin-top: 52px;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc( 100vh - 52px );
    transition:  1s linear;
}

.subdiv{
    
    display: inline-block;
    width: 50%;
    line-height: calc( 100vh - 52px );
    height: calc( 100vh - 52px );
    vertical-align: middle;
    color: white;
    /* border: 1px solid yellow; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

#imghome{
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    margin:10vh 10vw;
    height:60vh;
    padding:3vmin;
    position:relative;
    text-align:center;
}


